---
layout: index
title: Learning Artificial Intelligence
tagline: Fullit make your landing page a fullpage sliding tool usefull for web marketing and advertising
img : 1.jpg
img-mobile : 1-mobile.jpg
css: index.css
js: test.js
keywords: artificial-intelligence, logical-reasoners, classical-machine-learning, quantum-machine-learning, classical-deep-learning, quantum-deep-learning, classical-game-theory, quantum-game-theory, multi-agent-systems, robotics
canonical: https://learning-artificial-intelligence.github.io/
---
{% include JB/setup %}


<!-- ****************** Modal subcribe box sample ************************
<div id="demosMenu">
	<div class="content__container">
	<p class="content__container__text heavy"><a id="trigger-overlay" style="color:white" href="#">
		Know <span class="pink">me</span></a>
	</p>

</div>
</div>-->
<div id="social-menu">
	<h3 class="heavy">&nbsp;<span class="highlight-container" align="left" style="margin-left:-25px"><span class="highlight" align="left">Contact/follow me</span></span></h3>
	{% include social-block.html %}
</div>

<div id="copyrights-menu">
	<h3 class="heavy">&nbsp;<span class="highlight-container" align="center"><span class="highlight" align="center">Copyrights</span></span></h3>
	{% include copyrights-block.html %}
</div>

<div id="fullpage">
	<div data-anchor="1-module-introduction-artificial-intelligence" class="section" id="module-1-introduction-artificial-intelligence">
		<h1 class="heavy">Introduction to <br /> Artificial Intelligence</h1>
		<br />
		<h2 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				Can computational machines and systems <br /> think like the human-beings??!
			</span></span>
			<br />
		</h2>
		<br />
		<h4 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				In this module, we are going through a historical review, <br /> background, and basics of Artificial Intelligence...
			</span></span>
			<br />
		</h4>
		<br />
		<h3 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				Enter in the 1<sup>st</sup> module: <a href="{{ BASE_PATH }}/lessons/2017/01/17/testing-locally">Introduction to Artificial Intelligence</a>!!!
			</span></span>
			<br />
		</h3>
		<div class="intro-scroll-down">
		  <a data-menuanchor="2-module-logical-reasoners" href="#2-module-logical-reasoners">
		    <span class="mouse">
		      <span class="mouse-dot"></span>
		    </span>
		  </a>
		</div>
	</div>

	<div data-anchor="2-module-logical-reasoners" class="section" id="module-2-logical-reasoners">
		<h1 class="heavy">(Logical) Reasoners</h1>
		<br />
		<h2 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				Can computational machines and systems <br /> reason by themselves to solve problems autonomously??!
			</span></span>
		</h2>
		<br />
		<h4 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				In this module, we are going to learn the basics, background, <br /> and definitions of (Logical) Reasoners, as well as how to design and code them...
			</span></span>
			<br />
		</h4>
		<br />
		<h3 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				Enter in the 2<sup>nd</sup> module: <a href="{{ BASE_PATH }}/lessons/2017/01/17/testing-locally">(Logical) Reasoners</a>!!!
			</span></span>
			<br />
		</h3>
		<div class="intro-scroll-down">
			<a data-menuanchor="3-module-classical-machine-learning" href="#3-module-classical-machine-learning">
				<span class="mouse">
					<span class="mouse-dot"></span>
				</span>
			</a>
		</div>
	</div>

	<div data-anchor="3-module-classical-machine-learning" class="section" id="module-3-classical-machine-learning">
		<h1 class="heavy">(Classical) <br /> Machine Learning</h1>
		<br />
		<h2 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				Can (classical) computational <br /> machines and systems <br /> learn, as well as predict by themselves??!
			</span></span>
		</h2>
		<br />
		<h4 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				In this module, we are going to learn methods and techniques of <br /> (Classical) Machine Learning, as well as how to design and code them...
			</span></span>
			<br />
		</h4>
		<br />
		<h3 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				Enter in the 3<sup>rd</sup> module: <a href="{{ BASE_PATH }}/lessons/2017/01/17/testing-locally">(Classical) Machine Learning</a>!!!
			</span></span>
			<br />
		</h3>		
		<div class="intro-scroll-down">
			<a data-menuanchor="4-module-quantum-machine-learning" href="#4-module-quantum-machine-learning">
				<span class="mouse">
					<span class="mouse-dot"></span>
				</span>
			</a>
		</div>
	</div>

	<div data-anchor="4-module-quantum-machine-learning" class="section" id="module-4-quantum-machine-learning">
		<h1 class="heavy">Quantum <br /> Machine Learning</h1>
		<br />
		<h2 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				Can quantum computational <br /> machines and systems <br /> learn as well as predict by themselves, <br /> more accurately than the classical ones??!
			</span></span>
		</h2>
		<br />
		<h4 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				In this module, we are going to learn methods and techniques of <br />Quantum Machine Learning, as well as how to design and code them...
			</span></span>
			<br />
		</h4>
		<br />
		<h3 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				Enter in the 4<sup>th</sup> module: <a href="{{ BASE_PATH }}/lessons/2017/01/17/testing-locally">Quantum Machine Learning</a>!!!
			</span></span>
			<br />
		</h3>		
		<div class="intro-scroll-down">
			<a data-menuanchor="5-module-classical-deep-learning" href="#5-module-classical-deep-learning">
				<span class="mouse">
					<span class="mouse-dot"></span>
				</span>
			</a>
		</div>
	</div>

	<div data-anchor="5-module-classical-deep-learning" class="section" id="module-5-classical-deep-learning">
		<h1 class="heavy">(Classical) <br /> Deep Learning</h1>
		<br />
		<h2 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				Can (classical) computational <br /> machines and systems <br /> replicate the complexity of <br /> our knowledge, as well as our brains??!
			</span></span>
		</h2>
		<br />
		<h4 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				In this module, we are going to learn about Neural Networks used in <br /> (Classical) Deep Learning, as well as how to design and code them...
			</span></span>
			<br />
		</h4>
		<br />
		<h3 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				Enter in the 5<sup>th</sup> module: <a href="{{ BASE_PATH }}/lessons/2017/01/17/testing-locally">(Classical) Deep Learning</a>!!!
			</span></span>
			<br />
		</h3>
		<div class="intro-scroll-down">
			<a data-menuanchor="6-module-quantum-deep-learning" href="#6-module-quantum-deep-learning">
				<span class="mouse">
					<span class="mouse-dot"></span>
				</span>
			</a>
		</div>
	</div>

	<div data-anchor="6-module-quantum-deep-learning" class="section" id="module-6-quantum-deep-learning">
		<h1 class="heavy">Quantum <br /> Deep Learning</h1>
		<br />
		<h2 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				Can quantum computational <br /> machines and systems <br /> replicate the complexity of <br /> our knowledge, as well as our brains, <br /> more accurately than the classical ones??!
			</span></span>
		</h2>
		<br />
		<h4 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				In this module, we are going to learn about Neural Networks used in <br /> Quantum Deep Learning, as well as how to design and code them...
			</span></span>
			<br />
		</h4>
		<br />
		<h3 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				Enter in the 6<sup>th</sup> module: <a href="{{ BASE_PATH }}/lessons/2017/01/17/testing-locally">Quantum Deep Learning</a>!!!
			</span></span>
			<br />
		</h3>
		<div class="intro-scroll-down">
			<a data-menuanchor="7-module-classical-game-theory" href="#7-module-classical-game-theory">
				<span class="mouse">
					<span class="mouse-dot"></span>
				</span>
			</a>
		</div>
	</div>

	<div data-anchor="7-module-classical-game-theory" class="section" id="module-7-classical-game-theory">
		<h1 class="heavy">(Classical) <br /> Game Theory</h1>
		<br />
		<h2 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				You will not want to stop here, right?
			</span></span>
		</h2>
		<div class="intro-scroll-down">
			<a data-menuanchor="8-module-quantum-game-theory" href="#8-module-quantum-game-theory">
				<span class="mouse">
					<span class="mouse-dot"></span>
				</span>
			</a>
		</div>
	</div>

	<div data-anchor="8-module-quantum-game-theory" class="section" id="module-8-quantum-game-theory">
		<h1 class="heavy">Quantum <br /> Game Theory</h1>
		<br />
		<h2 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				You will not want to stop here, right?
			</span></span>
		</h2>
		<div class="intro-scroll-down">
			<a data-menuanchor="9-module-multi-agent-systems" href="#9-module-multi-agent-systems">
				<span class="mouse">
					<span class="mouse-dot"></span>
				</span>
			</a>
		</div>
	</div>

	<div data-anchor="9-module-classical-natural-language-processing" class="section" id="module-9-classical-natural-language-processing">
		<h1 class="heavy">(Classical) Natural <br /> Language Processing</h1>
		<br />
		<h2 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				You will not want to stop here, right?
			</span></span>
		</h2>
		<div class="intro-scroll-down">
			<a data-menuanchor="10-module-quantum-natural-language-processing" href="#10-module-quantum-natural-language-processing">
				<span class="mouse">
					<span class="mouse-dot"></span>
				</span>
			</a>
		</div>
	</div>

	<div data-anchor="10-module-quantum-natural-language-processing" class="section" id="module-10-quantum-natural-language-processing">
		<h1 class="heavy">Quantum Natural <br /> Language Processing</h1>
		<br />
		<h2 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				You will not want to stop here, right?
			</span></span>
		</h2>
		<div class="intro-scroll-down">
			<a data-menuanchor="11-module-multi-agent-systems" href="#11-module-multi-agent-systems">
				<span class="mouse">
					<span class="mouse-dot"></span>
				</span>
			</a>
		</div>
	</div>

	<div data-anchor="11-module-multi-agent-systems" class="section" id="module-11-multi-agent-systems">
		<h1 class="heavy">Multi-Agent <br /> Systems</h1>
		<br />
		<h2 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				Can computational machines and systems <br /> act and react according to different environments or situations??!
			</span></span>
		</h2>
		<br />
		<h4 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				In this module, we are going to learn the basics, background, <br /> and definitions of Multi-Agent Systems, as well as how to design and code them...
			</span></span>
			<br />
		</h4>
		<br />
		<h3 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				Enter in the 11<sup>th</sup> module: <a href="{{ BASE_PATH }}/lessons/2017/01/17/testing-locally">Multi-Agent System</a>!!!
			</span></span>
			<br />
		</h3>
		<div class="intro-scroll-down">
			<a data-menuanchor="12-module-robotics" href="#12-module-robotics">
				<span class="mouse">
					<span class="mouse-dot"></span>
				</span>
			</a>
		</div>
	</div>

	<div data-anchor="12-module-robotics" class="section" id="module-12-robotics">
		<h1 class="heavy">Robotics</h1>
		<br />
		<h2 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				Are computational machines (or robots) <br /> the future of the automation and humanity??!
			</span></span>
		</h2>
		<br />
		<h4 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				In this module, we are going through a historical review, <br /> background, and basics of Robotics...
			</span></span>
			<br />
		</h4>
		<br />
		<h3 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				Enter in the 12<sup>th</sup> module: <a href="{{ BASE_PATH }}/lessons/2017/01/17/testing-locally">Robotics</a>!!!
			</span></span>
			<br />
		</h3>
		<div class="intro-scroll-down">
			<a data-menuanchor="13-module-classical-mathematical-optimization" href="#13-module-classical-mathematical-optimization">
				<span class="mouse">
					<span class="mouse-dot"></span>
				</span>
			</a>
		</div>
	</div>

	<div data-anchor="13-module-classical-mathematical-optimization" class="section" id="module-13-classical-mathematical-optimization">
		<h1 class="heavy">(Classical) <br /> Mathematical <br /> Optimization</h1>
		<br />
		<h2 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				You will not want to stop here, right?
			</span></span>
		</h2>
		<div class="intro-scroll-down">
			<a data-menuanchor="14-module-quantum-mathematical-optimization" href="#14-module-quantum-mathematical-optimization">
				<span class="mouse">
					<span class="mouse-dot"></span>
				</span>
			</a>
		</div>
	</div>

	<div data-anchor="14-module-quantum-mathematical-optimization" class="section" id="module-14-quantum-mathematical-optimization">
		<h1 class="heavy">Quantum <br /> Mathematical <br /> Optimization</h1>
		<br />
		<h2 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				Your dream as unattainable is nearer and nearer.
			</span></span>
		</h2>
		<br />

		{% include ads-block.html %}

		<div class="intro-scroll-down">
			<a data-menuanchor="1-module-introduction-artificial-intelligence" href="#1-module-introduction-artificial-intelligence">
				<span class="mouse">
					<span class="mouse-dot"></span>
				</span>

				<span style="color:white; margin-left:-22.5px;" data-menuanchor="1-module-introduction-artificial-intelligence" href="#1-module-introduction-artificial-intelligence">Back to top</span>
			</a>
		</div>
	</div>


	<!-- FULL SCREEN MODAL SUBMIT open/close -->
	<!--		<div class="overlay overlay-hugeinc">
				<button type="button" class="overlay-close">Close</button>

				<nav>
					<form action="//altervista.us8.list-manage.com/subscribe/post?u=a36bd3e356847dab838227fce&amp;id=3c63d825b2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<ul>
						<li>
							<label>Name</label>
						</li>
						<li>
							<input class="span11" type="text" name="FNAME" id="first_name" placeholder="Jonathan">
						</li>
						<li>
							<label>Email</label>
						</li>
						<li>
							<input class="span11" type="text" id="email" name="EMAIL" placeholder="jon@doe.com">
						</li>
						<li>
							<input class="cbp-mc-submit" type="submit" value="Invia" name="subscribe" />
						</li>
					</ul>
				</form>
				</nav>
			</div>-->
</div>
