---
layout: index
title: Learning Artificial Intelligence, Reasoners, Machine Learning, Multi-Agents Systems, Game Theory and Robotics
tagline:
img: 1.jpg
img-mobile: 1-mobile.jpg
css: assets/css/index.css
js: test.js
keywords: artificial, intelligence, reasoners, machine, learning, multi, agents, systems, mas, game, theory, robotics
canonical: https://rubenandrebarreiro.github.io/learning-artificial-intelligence-reasoners-machine-learning-mas-game-theory-and-robotics/
---
{% include JB/setup %}


<!-- ****************** Modal subcribe box sample ************************
<div id="demosMenu">
	<div class="content__container">
	<p class="content__container__text heavy"><a id="trigger-overlay" style="color:white" href="#">
		Know <span class="pink">me</span></a>
	</p>

</div>
</div>-->
<div id="socialMenu">
	{% include social-block.html %}
</div>

<div id="fullpage">
	<div data-anchor="1section" class="section" id="section1">
		<h1 class="heavy">Artificial Intelligence</h1>
		<br /><h2 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				The Computing Machines starting to think by themselves!!!
			</span></span>
			<br />
		</h2>

		<br /><h3 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				Know more about <a href="{{ BASE_PATH }}/lessons/2017/01/17/testing-locally">Artificial Intelligence</a>!!!
			</span></span>
			<br />
		</h3>

			<div class="intro-scroll-down">
			  <a data-menuanchor="2section" href="#2section">
			    <span class="mouse">
			      <span class="mouse-dot"></span>
			    </span><br />
					<span style="color:white; margin-left:-200px;" data-menuanchor="2section" href="#2section">
						Use the <span class="highlight-container"><span class="highlight">mouse scroll up/down</span></span> or
					</span>
					<br />
					<span style="color:white; margin-left:-200px;" data-menuanchor="2section" href="#2section">
						the <span class="highlight-container"><span class="highlight">keyboard &uarr;/&darr; keys</span></span> to move between the cores of the course.
					</span>
					<br />
					<span style="color:white; margin-left:-200px;" data-menuanchor="2section" href="#2section">
						Or click here to move forward to the next one.
					</span>
			  </a>
			</div>
	</div>

	<div data-anchor="2section" class="section" id="section2">
			<h1 class="heavy">Reasoners</h1>
			<br /><h2 class="large-blur">
				<span class="highlight-container"><span class="highlight">
					Don't be afraid and start your jurney.
				</span></span>
			</h2>

			<br /><h3 class="large-blur">
				<span class="highlight-container"><span class="highlight">
					Know more about <a href="{{ BASE_PATH }}/lessons/2017/01/17/testing-locally">Reasoners</a>!!!
				</span></span>
				<br />
			</h3>

				<div class="intro-scroll-down">
					<a data-menuanchor="3section" href="#3section">
						<span class="mouse">
							<span class="mouse-dot"></span>
						</span><br />
						<span style="color:white; margin-left:-200px;" data-menuanchor="4section" href="#4section">
							Use the <span class="highlight-container"><span class="highlight">mouse scroll up/down</span></span> or
						</span>
						<br />
						<span style="color:white; margin-left:-200px;" data-menuanchor="4section" href="#4section">
							the <span class="highlight-container"><span class="highlight">keyboard &uarr;/&darr; keys</span></span> to move between the cores of the course.
						</span>
						<br />
						<span style="color:white; margin-left:-200px;" data-menuanchor="4section" href="#4section">
							Or click here to move forward to the next one.
						</span>
					</a>
				</div>
	</div>

	<div data-anchor="3section" class="section" id="section3">
			<h1 class="heavy">Machine Learning</h1>
			<br /><h2 class="large-blur">
				<span class="highlight-container"><span class="highlight">
					Farewell to all that restrained your dream.
				</span></span>
			</h2>

			<br /><h3 class="large-blur">
				<span class="highlight-container"><span class="highlight">
					Know more about <a href="{{ BASE_PATH }}/lessons/2017/01/17/testing-locally">Machine Learning</a>!!!
				</span></span>
				<br />
			</h3>

				<div class="intro-scroll-down">
					<a data-menuanchor="4section" href="#4section">
						<span class="mouse">
							<span class="mouse-dot"></span>
						</span><br />
						<span style="color:white; margin-left:-200px;" data-menuanchor="4section" href="#4section">
							Use the <span class="highlight-container"><span class="highlight">mouse scroll up/down</span></span> or
						</span>
						<br />
						<span style="color:white; margin-left:-200px;" data-menuanchor="4section" href="#4section">
							the <span class="highlight-container"><span class="highlight">keyboard &uarr;/&darr; keys</span></span> to move between the cores of the course.
						</span>
						<br />
						<span style="color:white; margin-left:-200px;" data-menuanchor="4section" href="#4section">
							Or click here to move forward to the next one.
						</span>
					</a>
				</div>
	</div>

	<div data-anchor="4section" class="section" id="section4">
		<h1 class="heavy">Multi-Agents Systems</h1>
		<br /><h2>
			<span class="highlight-container"><span class="highlight">
				You will not want to stop here, right?
			</span></span>
		</h2>

		<br /><h3 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				Know more about <a href="{{ BASE_PATH }}/lessons/2017/01/17/testing-locally">Multi-Agents Systems</a>!!!
			</span></span>
			<br />
		</h3>

		<div class="intro-scroll-down">
			<a data-menuanchor="5section" href="#5section">
				<span class="mouse">
					<span class="mouse-dot"></span>
				</span>
				<br />
				<span style="color:white; margin-left:-200px;" data-menuanchor="6section" href="#6section">
					Use the <span class="highlight-container"><span class="highlight">mouse scroll up/down</span></span> or
				</span>
				<br />
				<span style="color:white; margin-left:-200px;" data-menuanchor="6section" href="#6section">
					the <span class="highlight-container"><span class="highlight">keyboard &uarr;/&darr; keys</span></span> to move between the cores of the course.
				</span>
				<br />
				<span style="color:white; margin-left:-200px;" data-menuanchor="6section" href="#6section">
					Or click here to move forward to the next one.
				</span>
			</a>
		</div>
	</div>

		<div data-anchor="5section" class="section" id="section5">
			<h1 class="heavy">Game Theory</h1>
			<br /><h2>
				<span class="highlight-container"><span class="highlight">
					You will not want to stop here, right?
				</span></span>
			</h2>

			<br /><h3 class="large-blur">
				<span class="highlight-container"><span class="highlight">
					Know more about <a href="{{ BASE_PATH }}/lessons/2017/01/17/testing-locally">Game Theory</a>!!!
				</span></span>
				<br />
			</h3>

			<div class="intro-scroll-down">
				<a data-menuanchor="6section" href="#6section">
					<span class="mouse">
						<span class="mouse-dot"></span>
					</span>
					<br />
					<span style="color:white; margin-left:-200px;" data-menuanchor="6section" href="#6section">
						Use the <span class="highlight-container"><span class="highlight">mouse scroll up/down</span></span> or
					</span>
					<br />
					<span style="color:white; margin-left:-200px;" data-menuanchor="6section" href="#6section">
						the <span class="highlight-container"><span class="highlight">keyboard &uarr;/&darr; keys</span></span> to move between the cores of the course.
					</span>
					<br />
					<span style="color:white; margin-left:-200px;" data-menuanchor="6section" href="#6section">
						Or click here to move forward to the next one.
					</span>
				</a>
			</div>
		</div>

	<div data-anchor="6section" class="section" id="section6">
		<h1 class="heavy">Robotics</h1>
		<br />
		<h2 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				The future of the automation??!
			</span></span>
		</h2>
		<br />

		<br /><h3 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				Know more about <a href="{{ BASE_PATH }}/lessons/2017/01/17/testing-locally">Robotics</a>!!!
			</span></span>
			<br />
		</h3>

		<div class="intro-scroll-down">
			<a data-menuanchor="1section" href="#1section">
				<span class="mouse">
					<span class="mouse-dot"></span>
				</span>
				<br />
				<span style="color:white; margin-left:-200px;" data-menuanchor="1section" href="#1section">
					Use the <span class="highlight-container"><span class="highlight">mouse scroll up/down</span></span> or
				</span>
				<br />
				<span style="color:white; margin-left:-200px;" data-menuanchor="1section" href="#1section">
					the <span class="highlight-container"><span class="highlight">keyboard &uarr;/&darr; keys</span></span> to move between the cores of the course.
				</span>
				<br />
				<span style="color:white; margin-left:-200px;" data-menuanchor="1section" href="#1section">
					Or click here to move forward to the next one.
				</span>
				<br />
				<span style="color:white; margin-left:-200px;" data-menuanchor="1section" href="#1section">
					Click here to back to the top.
				</span>
			</a>
		</div>
	</div>

	<!-- FULL SCREEN MODAL SUBMIT open/close -->
			<div class="overlay overlay-hugeinc">
				<button type="button" class="overlay-close">Close</button>

				<nav>
					<form action=""<!--TODO--> method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<ul>
						<li>
							<label>First Name</label>
						</li>
						<li>
							<input class="span11" type="text" name="FNAME" id="first_name" placeholder="Rúben">
						</li>
						<li>
							<label>Last Name</label>
						</li>
						<li>
							<input class="span11" type="text" name="LNAME" id="last_name" placeholder="Barreiro">
						</li>
						<li>
							<label>E-mail</label>
						</li>
						<li>
							<input class="span11" type="text" id="email" name="EMAIL" placeholder="ruben.barreiro.92@gmail.com">
						</li>
						<li>
							<label>Subject</label>
						</li>
						<li>
							<input class="span11" type="textarea" id="subject" name="SUBJECT" placeholder="Insert a text">
						</li>
						<li>
							<input class="cbp-mc-submit" type="submit" value="Send" name="subscribe" />
						</li>
					</ul>
				</form>
				</nav>
			</div>
</div>
