<div class="side-bar sticky-top">
  <br/>
  <div>
    {% unless page.categories == empty %}
      <div class="post">
        <h4 class="lead">Categories</h4>
      </div>
      <h6>{{page.categories | array_to_sentence_string}}</h6>
    {% endunless %}
  </div>
  <hr>
  <div>
    {% include social-share.html %}
  </div>
  <hr>
  <div>
    <div class="post">
      <h4>Contact/Follow Me</h4>
    </div>
    {% include social-block.html %}
  </div>
  <hr>
  <div>
    {% include ads-block.html %}
  </div>
</div>    